{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello!</h1>
    <ul>
        <li>Time: {{ time }}</li>
        <li>Client ip: {{ clientIp }}</li>
        <li>Server ip: {{ serverIp }}</li>
    </ul>
{% endblock %}
